.widget-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.payment-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.payment-icon__pic {
  width: 30px;
  height: auto;
  margin: 4px;
  border: 1px solid #202020;
  padding: 1px;
  border-radius: 10%;
  opacity: 0.2;
}

.payment-icons > .payment-icon__pic:first-child {
  margin-left: 0;
}

.active-icon__pic {
  opacity: 1;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.input-text {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;
}

.validate-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
